# Iris Dataset - Exploratory Data Analysis

__*Author Name*__: Venkat Teja Nallamothu 

__*Purpose*__: Creating a new Juypter notebook and to learn to use Jupyter and EDA.

__*Date*__: 09/17/2025

#### 1.  Imports

In [8]:
import pandas as pd
import seaborn as sns
import matplotlib 

# Axes object (basic plot type returned by Seaborn)
from matplotlib.axes import Axes

#### 2. Load Data

##### Load the Iris dataset into pandas DataFrame

In [9]:
iris_df: pd.DataFrame = sns.load_dataset('iris')

#####  List column names

In [10]:
iris_df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

##### Inspect first few rows of the DataFrame

In [11]:
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa